*{
  box-sizing: border-box;
}
.main{
  position: fixed;
  background-color: rgb(223, 223, 223);
  height: 100%;
  width: 100%;
  overflow: auto;
}
.container{
  padding: 16px;
}
.content{
  font-family: Arial, Helvetica, sans-serif;
  margin: 5% auto 15% auto;
  border: 3px solid #bebdbd;
  width: 40%;
  background-color: #fefefe;
  
}
input{
  width: 100%;
  padding: 12px 40px 12px 12px;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
/* input[type="text"]::placeholder {
  text-align: right;
} */

input:focus{
  background-color: #ddd;
  outline: none;
}

#ip1{
  width: 70%;
  margin: 5px 10px 15px 0;
}
.currency-symbol{
  margin-left:-40px;
  margin-right: 20px;

}

button {
  background-color: gray;
  padding: 14px 20px;
  margin: 8px 5px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
  color: white;
}
select{
  background-color: #f1f1f1;
  padding: 14px 20px;
  margin: 8px 5px;
  border: none;
  cursor: pointer;
  width: 20%;
  opacity: 0.8;
}
select:hover{
  opacity: 1;
}

button:hover{
  opacity: 1;
}

.practice{
  text-align: center;
}